<div class="buttondemoBasicUsage">
  <md-content>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button>{{title1}}</md-button>
      <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
      <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
      <md-button class="md-warn">{{title4}}</md-button>
      <div class="label">Flat</div>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised">Button</md-button>
      <md-button class="md-raised md-primary">Primary</md-button>
      <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
      <md-button class="md-raised md-warn">Warn</md-button>
      <div class="label">Raised</div>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-fab" aria-label="Eat cake">
        <ng-md-icon icon="cake" style="fill: white"></ng-md-icon>
      </md-button>
      <md-button class="md-fab md-primary" aria-label="Use Android">
        <ng-md-icon icon="android" style="fill: white"></ng-md-icon>
      </md-button>
      <md-button class="md-fab" ng-disabled="true" aria-label="Comment">
        <ng-md-icon icon="comment" size="24" style="fill: red"></ng-md-icon>
      </md-button>
      <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
        <ng-md-icon icon="people" size="24" style="fill: white"></ng-md-icon>
      </md-button>
      <md-button class="md-fab md-mini" aria-label="Eat cake">
        <ng-md-icon icon="cake" style="fill: white" size="18"></ng-md-icon>
      </md-button>
      <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
        <ng-md-icon icon="android" size="18" style="fill: greenyellow;"></ng-md-icon>
      </md-button>
      <div class="label">FAB</div>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button ng-href="{{googleUrl}}" target="_blank">Default Link</md-button>
      <md-button class="md-primary" ng-href="{{googleUrl}}" target="_blank">Primary Link</md-button>
      <md-button>Default Button</md-button>
      <div class="label">Link vs. Button</div>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-primary md-hue-1">Primary Hue 1</md-button>
      <md-button class="md-warn md-raised md-hue-2">Warn Hue 2</md-button>
      <md-button class="md-accent">Accent</md-button>
      <md-button class="md-accent md-raised md-hue-1">Accent Hue 1</md-button>
      <div class="label">Themed</div>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-icon-button md-primary" aria-label="Settings">
        <ng-md-icon icon="menu" style="fill: red" size="18"></ng-md-icon>
      </md-button>
      <md-button class="md-icon-button md-accent" aria-label="Favorite">
        <ng-md-icon icon="favorite" style="fill: lightblue" size="18"></ng-md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
        <ng-md-icon icon="more_vert" style="fill: orange" size="28" ng-click="checkClick()"></ng-md-icon>
      </md-button>
      <div class="label">Icon Button</div>
    </section>
  </md-content>
</div>